[2014-07-08 10:28] bealdav opened #15 "method call generate_labels() doesn't match signature"
It seems there is a difference between this call
https://github.com/OCA/carrier-delivery/blob/7.0/base_delivery_carrier_label/stock.py#L148
        return self.generate_labels(cr, uid, ids, context=context)

and this method
https://github.com/OCA/carrier-delivery/blob/7.0/base_delivery_carrier_label/stock.py#L105
    def generate_labels(self, cr, uid, ids, tracking_ids=None, context=None):

Person

[2014-07-08 10:40] guewen commented on #15
I don't see any difference. `tracking_ids` is an optional kwargs, that is not used in `action_generate_carrier_label` because it has no meaning there (because it is called from a button on the picking, the user cannot choose tracking_ids there).

[2014-07-08 10:44] bealdav commented on #15
ok you're right.

[2014-07-08 10:44] #15 closed, assigned to nobody

[2014-12-04 13:45] guewen opened #43 "delivery_carrier_label_postlogistics: broken by a change on 'delivery.carrier.template.option'"
This commit: https://github.com/OCA/carrier-delivery/commit/59038bd27aee9a7f8b65740103bfa1826e62a6da

Replaced the field `state` (with values 'mandatory', 'default_option', 'option') by boolean fields.
However, the PR did not changed the modules that depends on this `state` field.

I just stumbled upon `delivery_carrier_label_postlogistics` that still uses the `state` field:
https://github.com/OCA

[2014-12-10 13:19] kirca opened #45 "Porting base_delivery_carrier_files to v8"
Our company is planning on porting base_delivery_carrier_files. I saw in one of the commits (https://github.com/OCA/carrier-delivery/commit/dee67b57f9ec4f5d01c6c1c85b7e40126e5f6ab5) that some work was already done on it. I'm writing just to know whether someone is already doing this so that we don't duplicate work already done. Thanks for the info.

[2014-12-12 16:19] #43 closed, assigned to guewen

[2014-12-17 16:24] kkarolis commented on #45
Starting to make a port of it to v8.

[2014-12-19 10:25] yvaucher commented on #45
@kirca Ok the someone was me. In fact this wasn't a port it was just getting some changes from 7.0 branch to 8.0. So nothing done yet.

@kkarolis good to know. Thanks

[2015-02-02 14:46] pedrobaeza opened #50 "Remove master branch"
As it is no longer needed.

[2015-02-04 10:18] yvaucher commented on #50
:+1:

[2015-02-12 08:59] yvaucher commented on #50
This has been done

[2015-02-12 08:59] #50 closed, assigned to nobody

[2015-02-16 11:41] yvaucher opened #55 "module migration to 8.0 summary"
TODO:
- [ ] base_delivery_carrier_files
  - [ ] #47
- [ ] base_delivery_carrier_files_document - By @thomaspaulb - #163
- [x] base_delivery_carrier_label
  - [x] #33
- [ ] delivery_carrier_b2c
  - [x] #33
- [x] delivery_carrier_deposit
  - [x] #33
- [ ] delivery_carrier_file_laposte
- [ ] delivery_carrier_file_tnt
- [ ] delivery_carrier_label_default_webkit
  - To be replaced by a QWeb label
- [ ]

[2015-06-01 09:09] yvaucher opened #60 "Missing readme.rst"
./delivery_carrier_b2c

[2015-06-01 09:21] ahilali commented on #60
I'm doing it

[2015-06-23 15:18] yvaucher commented on #45
https://github.com/OCA/carrier-delivery/pull/47

[2015-10-14 00:20] pedrobaeza opened #71 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] base_delivery_carrier_files > base_delivery_carrier_file - By @angelmoya - #129
- [ ] base_delivery_carrier_files_document
- [x] base_delivery_carrier_label @yvaucher https://github.com/OCA/carrier-delivery/pull/72
- [ ] delivery_carrier_b2c
- [x] delivery_carrier_deposit - By @hparfr - #114
-

[2015-12-03 18:29] yvaucher opened #78 "Postlogistics - improve configuration process"
Right now, configuration is not well documented, plus returned error message from API are not very helpful

[2016-03-16 11:12] hparfr opened #81 "Questions on package_ids"
Hi,

I started the implementation of Laposte WS (according to 2016 specifications).
While digging in the sources, I don't understand this :

[code]

https://github.com/OCA/carrier-delivery/blob/9.0/base_delivery_carrier_label/stock.py#L120

If there is multiple picks in self and package_ids is not None, where is the check to exclue all the package_ids which doesn't belongs to pick ?

And more glob

[2016-03-16 11:19] guewen commented on #81
Hi,

The use case is: you want to generate labels for only some of the packages of a picking, and generate labels for the remaining packages later.

The API has changed a bit since, but in 7.0 it was used here: https://github.com/OCA/carrier-delivery/blob/467c5cc2d60c43b1ef3037ae6b83d375b99d3b72/delivery_carrier_label_dispatch/wizard/generate_labels.py#L108-L111 (it generates the labels of the pac

[2016-03-16 11:45] hparfr commented on #81
Thanks for this answer.

In the code you refere, you have always 1 picking and 0 or 1 pack.
But it can lead to issues if there is call with 2 pickings and 1 pack.

[2016-03-16 11:58] guewen commented on #81
I see your point, is it something that might happen? having a package cross-pickings? If yes, then yes it should be handled better...

[2016-03-16 14:10] hparfr commented on #81
In terms of code quality, it's always better if the API is obvious or well documented for starters like me.

About the business cases :
- a package cross-picking -> we have this need for some of our clients. They have customer who buys on a regulary basis, and they want put in the same package goods from differents sale orders.
- multiple package for one picking -> never encoutered yet, but I was

[2016-03-16 16:29] hparfr opened #82 "Inheritance"
Hi folks,

Let's say, I have two modules installed : delivery_carrier_label_postlogistics and delivery_carrier_label_gls

In stock.py I can see both inherit from stock.picking.

It means at run time :

[code]

How can a gls' picking be a child of postlogistics' picking ?

Can't we do the same way res.user  extends res.partner :

[code]

[code]

?

[2016-03-17 09:20] #81 closed, assigned to nobody

[2016-03-30 12:14] hparfr commented on #82
From my current understanding :
- it's hard to implement the view
- odoo is not designed for this kind of OOP.
- it will require some refactorings in the modules with potiential breaking changes

[2016-03-30 12:14] #82 closed, assigned to nobody

[2016-04-11 08:40] hparfr opened #85 "[9] refactorisation of base_default_label"
Hi folks,

These days tere is some work against branch 9.0, it's still time to do heavy refactors before freezing the code.

For new commers, it's quite hard to understand how to integrate / develop a new carrier.
I think there is 3 types of methods :
- helpers methods (like get_weight)
- logic methods (glue between UI and carrier's specific methods)
- carrier's specific methods (fetch relevant da

[2016-05-31 12:14] yvaucher commented on #85
Maybe you want to comment this in #72  ?

[2016-05-31 12:15] #45 closed, assigned to nobody

[2016-07-04 15:56] bealdav opened #94 "ZPL recovery mode"
Ping @yvaucher @guewen @hparfr @sebastienbeau

What do you think to add generic method to use this webservice for our customers just in case of the printer is out of order ?

http://labelary.com/service.html

With
GET http://api.labelary.com/v1/printers/{dpmm}/labels/{width}x{height}/{index}/{zpl}

you can add pdf attachement to picking.

Thanks for your reply.

[2016-07-05 09:52] yvaucher commented on #94
@bealdav For postlogistics, output format can be selected. It can be zpl, png or pdf already

[2016-08-09 15:18] lasley opened #101 "Proposal: EasyPost Connector"
We are about done with an [EasyPost](https://www.easypost.com/) Connector for Odoo, so I am now trying to figure out where we should actually put it.

[Code is in its own repo for the moment](https://github.com/laslabs/odoo-connector-easypost/tree/feature/9.0/LABS-187-migrate-connectoreasypost-to-oca/connector_easypost), mainly because I had no clue where the final product would end up. I've seen

[2016-10-06 12:48] pedrobaeza opened #106 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [ ] base_delivery_carrier_files - By @thomaspaulb - #206
- [ ] base_delivery_carrier_files_document - ~~By @mFlayyan - #184~~ By @thomaspaulb - #206
- [ ] base_delivery_carrier_label  #124 @angelmoya
- [x] delivery_carrier_b2c https://github.com/OCA/delivery-carrier/pull/116 @EBII
- [ ] delivery_c

[2016-10-13 09:37] bealdav opened #107 "Repository name"
This branch name is carrier-delivery and modules inside are [base_]delivery_carrier_blabla

It's error prone. Nobody can remember what is the real name.

I suggest to rename carrier-delivery repo by delivery-carrier.

As we had could see when switch from lp: to github:, github manage really well alias repositories.
Then there'll no impact to production environment.

Please thanks to vote.

ping @y

[2016-10-13 09:39] mourad-ehm commented on #107
:+1:

[2016-10-13 09:53] pedrobaeza commented on #107
:+1:

[2016-10-13 09:54] lasley commented on #107
Agreed. This also matches our naming schema in relation to Odoo modules. Delivery is one & carrier is not, so delivery should be first. 👍

[2016-10-13 14:21] yvaucher commented on #107
:+1:

Where to rename it:

OCA/maintainer-tools

[code]
- in all README.rst of all version of delivery-carrier modules
- badges in README.md
- transifex project to rename ?
- registration on apps.odoo.com
- runbot ?
- links on odoo-community.org

Most of this can be done later as github does the alias but in the long term we want to rename it everywhere. Am I missing something? I guess that covera

[2016-10-13 14:23] pedrobaeza commented on #107
Good recompilation. I don't miss anything

[2016-10-17 14:47] bealdav commented on #107
ok then, who push the button ?

[2016-10-17 15:40] yvaucher commented on #107
I don't have access to those settings I think it's someone of @OCA/board noone else has admin rights on repositories

[2016-10-17 15:42] yvaucher commented on #107
By the way robots are starting to do a takeover of the world a member of the board is @oca-transbot

:grin:

[2016-10-17 16:32] pedrobaeza commented on #107
Uhm, PSC people should have also access I think... I'll do it anyway.

[2016-10-17 16:33] lasley commented on #107
No settings tab for PSCs:

![image](https://cloud.githubusercontent.com/assets/7397578/19446233/b9c1d0ea-944c-11e6-8f59-519a93e0730b.png)

[2016-10-17 16:37] pedrobaeza commented on #107
Renamed!

[2016-10-17 16:37] #107 closed, assigned to nobody

[2016-10-17 16:37] pedrobaeza commented on #107
Please perform the rest of the list, @yvaucher

[2016-10-18 14:33] bealdav opened #108 "generic module name for carrier"
@hparfr made a generic module for carrier but with a dependency on base_delivery_carrier_label.

It has a https://pypi.python.org/pypi/roulier an API for package delivery

you can see there:

https://github.com/akretion/delivery-carrier/tree/8-roulier/delivery_carrier_label_roulier

We want to propose it for OCA but we want rename module shorter. Here are some options:
- delivery_carrier_roulier
-

[2016-10-18 14:59] lasley commented on #108
IMO `delivery_carrier_label_roulier` matches the other modules made for generating labels via a service.

`delivery_roulier` tells me that I can perform all delivery functions using this, which is not the case from what I can see?

[2016-10-18 15:46] bealdav commented on #108
@lasley ok maybe carrier_roulier for the common module
then
carrier_roulier_mycarrier
carrier_roulier_mycarrier_dropoff_site

I would avoid delivery_carrier_label_roulier_mycarrier_dropoff_site.
What do you think ?

[2016-10-18 15:51] lasley commented on #108
Maybe I'm unclear on exactly what roulier is doing. Is this a connector framework to multiple carriers?

[2016-10-18 17:13] bealdav commented on #108
Yes it's a framework to deal with multiple carriers sharing an api.
![api](https://cloud.githubusercontent.com/assets/1853434/19488355/d315a1a0-9566-11e6-8024-55d42dc5e889.png)

Some other carriers are in other branch WIP

Here is the api in odoo side
https://github.com/akretion/delivery-carrier/blob/8-roulier/delivery_carrier_label_roulier/stock.py#L81-L146

[2016-10-19 09:17] hparfr commented on #108
Yes

I've updated the documentation here : https://github.com/akretion/roulier/blob/develop/README.md
It's still work in progress.

[2016-10-19 14:41] lasley commented on #108
Thanks for the elaboration. Seems to me that this would control all aspects of the delivery operation, so you would be safe in `delivery_roulier`.

I question though if maybe `connector_roulier` is a more suitable name, even without a dependency on the connector library. We did something similar with our [connector_easypost](https://github.com/laslabs/odoo-connector-easypost/tree/9.0/connector_eas

[2016-10-19 15:17] hparfr commented on #108
Roulier is (_currently_) not intended to be bi-directional. It makes synchronous calls.

I did not read connector_easypost source, but why do you need the dependency against connector ?

[2016-10-19 15:47] lasley commented on #108
[`connector`](https://github.com/oca/connector) provides an abstract asynchronous (or synchronous if you so choose) framework between disparate systems that is significantly better than I could hope to create without months of dedicated effort & a budget exceeding into the tens of thousands of dollars.

It includes everything from abstract mappers, abstract adapter interface, logging, record monit

[2016-10-19 19:41] bealdav commented on #108
@lasley Yes Connector is a really nice solution, the swiss knife of connections

But for carriers we want share as most as possible code with the python community to share dev and maintenance
I'm not sure that we can do it with connector as odoo module.

Maybe a future split of connector could change that (as I know @guewen'll split connector in 2 modules for v10 )

Thanks for your support of conn

[2016-10-24 13:11] bguillot commented on #108
`delivery_roulier_mycarriername`  seems good enough to me

any other opinions ?

[2017-03-06 12:22] yvaucher opened #117 "Github page not available"
@OCA/board

For this repository we generate the branch https://github.com/OCA/delivery-carrier/tree/gh-pages

This branch was displaying a doc on http://oca.github.io/carrier-delivery
But this later url show nothing.

Could an OCA owner check this repository has the same settings for github page than on https://github.com/oca/connector ?

Thanks

[2017-03-07 22:22] dreispt commented on #117
http://oca.github.io/delivery-carrier/ is working for me.

[2017-03-08 12:04] yvaucher commented on #117
@dreispt thanks that might have been temporary. Sorry for the noise. I'm closing it.

[2017-03-08 12:04] #117 closed, assigned to nobody

[2017-06-14 14:55] max3903 opened #137 "delivery_shipstation"
This module allows you to connect Odoo with ShipStation and create various delivery methods based on the carriers and services supported by ShipStation (http://www.shipstation.com).

As with any delivery method, you can:
* get a delivery price on the sales order
* get the tracking number and shipping documents (label, etc) on the delivery order

[2017-10-03 14:08] pedrobaeza opened #139 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] base_delivery_carrier_files
- [ ] base_delivery_carrier_files_document
- [x] base_delivery_carrier_label - ~~By @hugosantosred - #150~~ By @asaunier - #154
- [ ] delivery_carrier_b2c
- [ ] delivery_carrier_deposit
- [ ] delivery_carrier_file_laposte
- [ ] delivery_carrier_file_tnt
- [x] deli

[2017-11-08 17:16] lasley commented on #137
We have a client that uses Shipstation, so we'd definitely use this one.

Take a look at our [`connector_easypost`](https://github.com/LasLabs/odoo-connector-easypost/pull/16), which I bet contains a lot of the logic that will be needed here. Another important module to note is [`base_partner_validate_address`](https://github.com/OCA/partner-contact/pull/500), which provides some abstract stuff fo

[2017-11-08 17:33] lasley opened #144 "[RFC] stock_package_rate: Rates in Dispatch Wizard"
This module will add a view of the Dispatch Rates provided in `stock_picking_delivery_rate` from within the Packaging wizard in a stock picking ([`delivery.view_quant_package_form_save`](https://github.com/odoo/odoo/blob/10.0/addons/delivery/views/delivery_view.xml#L250)).

As it stands right now, the packaging wizard contains the ability to select a package type to be used for dispatch, and manua

[2017-11-08 17:36] pedrobaeza commented on #144
What I have in a custom private module, as it was very customer specific (with boxes and pallets), is to add new delivery grid possibilities: to take number of these packagings as criteria for the delivery grid, and to value them by this number. This way, the rate is on the delivery carrier. All of this extending delivery standard module.

[2017-11-08 17:40] lasley commented on #144
It sounds like in your instance all of the boxes and pallets in a shipment would be the same size? Or does the grid look something like this:

| Package Type | Shipping Weight | Qty | Carrier Service | Rate |
|--------------|-----------------|-----|-----------------|------|
| 11x5x5       | 40              | 2   | UPS Ground      | $$$  |
| 11x5x5       | 10              | 1   | UPS Air         |

[2017-11-08 17:42] lasley commented on #144
Also, these are pre-packed packages? So you would first go through the "Put in Pack" for relevant items, then perform this grid workflow?

[2017-11-08 17:42] pedrobaeza commented on #144
Exactly. I put the kind of packaging like you put. The limitation is that on each delivery, you can't mix types.

[2017-11-08 17:43] pedrobaeza commented on #144
As said, it's very custom, as they keep these 3 "UoM" simultaneous on each sale order line: kg, boxes of type X, and pallets of type Y.

[2017-11-08 17:52] lasley commented on #144
Ahhhh got it, so you're able to perform the pack and ship operations all from within this grid due to the pre-defined criteria. Thanks for the insight Pedro - I think it confirms my plans too, which is pretty much the same thing except not in a batch.

I like your idea of a grid though - the put in pack wizard is incredibly cumbersome IMO. Lots of clicking around for an inventory agent. My mind is

[2018-06-12 14:26] alexis-via opened #157 "Remove manifest.wizard from base_delivery_carrier_label ?"
In the module base_delivery_carrier_label, there is a wizard "manifest.wizard", cf https://github.com/OCA/delivery-carrier/blob/10.0/base_delivery_carrier_label/wizard/manifest_wizard.py

It was introduced 3 years ago by this commit of @ismaelcj  https://github.com/OCA/delivery-carrier/commit/e9ebf252dc25108e13c8f2b671c9a82a98d50c01

This wizard doesn't do anything by itself ; it needs to be inher

[2018-06-21 23:15] emagdalenaC2i commented on #139
@pedrobaeza base_delivery_carrier_label is done

[2018-09-27 00:06] OCA-git-bot opened #166 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] base_delivery_carrier_label - ~~By @Timo17100-c2c - #187 - By @yvaucher - #205 ~~ By @bealdav - #212
- [ ] base_delivery_carrier_files - By @MPoch-PlanetaTIC - #237
- [x] delivery_auto_refresh - By @cubells - #182
- [x] delivery_carrier_label_batch - By @TDu - #222
- [x] delivery_carrier_lab

[2019-05-03 07:48] Timo17100-c2c commented on #166
base_delivery_carrier_label [#187](https://github.com/OCA/delivery-carrier/pull/187)

[2019-05-13 08:49] bealdav opened #192 "RFC delivery carrier in v12 and above"
According different features implemented on carriers modules, I think we need to refactor several points like :

1. remove carrier.account model https://github.com/OCA/delivery-carrier/blob/11.0/base_delivery_carrier_label/models/carrier_account.py to be replaced by server env or any equivalent features
2. in the purpose to reduce useless code, always use package to define parcel (no more picking)

[2019-05-13 09:55] bealdav commented on #192
About 1. I propose to implement the same as that
https://github.com/OCA/server-env/blob/12.0/mail_environment/models/ir_mail_server.py
but for carrier.account . What do you think @yvaucher ? Can I make a PR on #187 ?

[2019-05-13 09:57] pedrobaeza commented on #192
Please don't depend on all the *_environment stuff.

[2019-05-13 10:14] bealdav commented on #192
In the whole ERP we need a good solution to manage credentials of external accounts. At Akretion we decided to use keychain (a version modified in v12) which itself based on server environment tools. C2C (and others) use server env only.

Please @pedrobaeza could you precise what is your generic option to deal with external credential accounts in the whole erp ? Thanks

[2019-05-13 10:17] pedrobaeza commented on #192
You were talking about *_environment, not keychain. That's why I told you about not using that. `keychain` is good for keeping some secrets.

[2019-05-13 10:41] florian-dacosta commented on #192
I guess the *_environment part can be put in a submodule then.

[2019-05-13 11:48] bealdav commented on #192
That's OK for me to add another module.
https://github.com/OCA/server-env/pull/22

[2019-05-13 15:59] bealdav commented on #192
2. @yvaucher @guewen @damdam-s are you open to modify base_delivery_label to avoid to deliver without package ?

[2019-05-16 14:19] yvaucher commented on #192
@bealdav about your question on delivery without package. And following the call we had.

We might have some little things to tweak on the OCA/rma modules when returning goods. Nevertheless, it would make indeed more sense if we rely on pack only and not consider on itself picking as a pack.
And we could enforce the creation of a pack if we print a label.

So let's go for labels generation only wi

[2019-05-16 14:40] bealdav commented on #192
@yvaucher thanks for your reply.

For labels, there several solutions. The easiest seems to be to provide a tree view of packages with an action from picking. Then selecting all records of the tree view you get all files in one click.

Duplicate info in picking is also possible with merged document.

[2019-05-18 12:45] luismontalba commented on #166
delivery_multi_destination #193

[2019-05-21 03:09] kittiu opened #194 "Partner Shipper (similar to partner_delivery_zone)"
Hi, we have created a module (after searching from here) called partner_shipper. It is a simple module, that allow a partner to tie to multiple shippers (company that do the shipping).  On Sales Order, user select 1 shipper from multiple available shippers specific to the partner. The shipper from SO will be passed on to both Delivery Order and Invoice.

https://github.com/ecosoft-odoo/addons/tree

[2019-05-21 13:19] pedrobaeza commented on #194
I try to understand the goal of this module. Why not using the standard `delivery` feature for that?

[2019-05-23 05:39] kittiu commented on #194
Yes it is similar and not add enough value. I will close this.

[2019-05-23 05:39] #194 closed, assigned to nobody

[2019-05-28 10:00] angelmoya commented on #192
There are not usual, but some users don't use packages, and want to use delivery carrier integration, in some ecommerce arround 90% of sales has only 1 product.

Picking has delivery address, and we can put tracking code on it to be shown to customer on portal.

On the other hand, now I ned to create parcel for more than one picking, to send only one package for two sales... in this project we hav

[2019-05-28 10:39] bealdav opened #197 "RFC Roulier fondation for Odoo delivery carrier ! ?"
Roulier Library
===============

created by @hparfr

https://github.com/akretion/roulier
https://github.com/akretion/roulier-gls-fr/tree/develop

Why
---

- to be less impacted by odoo versions
- get profit of large audience of python in recent years, hoping more contributors
- get a wider audience, not only python with entry points and json (every language can use this lib)
- api inspired from ea

[2019-05-28 10:39] bealdav commented on #197
@angelmoya @rousseldenis

[2019-05-28 10:51] rousseldenis commented on #197
That seems interesting indeed.

What do you think of this @OCA/logistics-maintainers ?

@OCA/core-maintainers

[2019-05-28 10:58] bealdav commented on #197
Why not an organisation outside OCA but mainly maintained by @OCA/core-maintainers in the beginning of the story and joined by other dev over the time ?

[2019-05-28 10:59] rousseldenis commented on #197
It was just a ping :smile:

[2019-05-28 11:00] bealdav commented on #197
ok sorry :-(

[2019-05-28 12:58] bealdav commented on #192
Ok @angelmoya

1/ Our goal is to make user experience as easy as possible and make code as simple as possible for maintenance. But in odoo there several ways to do same thing just in the editor way.
Then imagine, with all the uses cases of your cutomers and ours and these of other contributors, it can be over complicated for now and futures versions.
Code comes from initial dev 6.1 version and nee

[2019-05-28 13:20] rousseldenis commented on #197
It could be a chance unifying (even if the final solution won't be perfect) and simplifying delivery carriers communication implementation with Odoo on the OCA side.

Moreover such modules are (maybe my impression) not easily reviewable for external people as they strongly depends on carrier communication implementation (and not really Odoo implementation).

So, adding carriers could become easy..

[2019-05-28 13:31] bealdav commented on #197
No problem on my side, I let others decide. Thanks a lot Denis

[2019-05-28 14:22] pedrobaeza commented on #197
@bealdav the problems I see in the Python library approach are:

- We need to adapt standard OCA processes with Odoo modules for testing this library, deploying it, etc, which is a big maintenance burden.
- You can't anticipate changes in carrier, so you can find that you need to change the API of your library because of these changes and you'll end up with more changes: the one in the library and

[2019-05-28 14:41] bealdav commented on #197
It's not the case if we put the lib outside OCA: it makes a lib like any other one : you call it from odoo, lib answer : all the world can be in odoo don't you think ?

All changes are not breaking changes : Oca module only implements a sub part of carrier features : the financed ones, then no impact in most of cases.

Others can explain their point of view

[2019-05-28 14:43] pedrobaeza commented on #197
The question is not to put it outside or inside OCA. It's about QA processes: with Odoo modules, you have a lot of tools, and everything already set-up. With Python libraries, you don't.

[2019-05-28 15:01] bealdav commented on #197
For sure, but it seems there are good practices to learn in the python world too (some good packages are inside).

As developer, I'm interested to be a python dev, not only a django dev or a oca dev.

Probably others dev too ! ?

Don't you ?

[2019-05-28 15:11] pedrobaeza commented on #197
No, I want to be effective :smiley:

[2019-05-28 15:16] bealdav commented on #197
Ok you won.

I can't win on the NIH syndrom ;-)

[2019-05-28 15:17] pedrobaeza commented on #197
Hahaha. Mine is also another opinion like yours, so for now 1-1. Let's see others.

[2019-05-28 16:11] bealdav commented on #197
Yes but I have mbappé on my side.

[2019-05-29 07:16] bealdav commented on #197
Anyway the main purpose is to have more contributors on this technical topic and you don't taken account this part Pedro

[2019-05-29 07:47] pedrobaeza commented on #197
Well, my reasons for not doing this are quite technical.

[2019-05-29 08:08] bealdav commented on #197
Sorry but based on this example https://github.com/kennethreitz/requests (or a lot others), consider than OCA tools have better quality than python package seems presumptuous and make irrelevant reasons

[2019-05-29 08:22] rousseldenis commented on #197
So, we are all technical people and I think this should not be a limitation. We have many examples under the OCA depending on external libraries maintained by OCA itself.

My advice is to make that repository, let people who want to use it, implement it in their particular delivery modules (maybe with a base_roulier under delivery-carrier) and let see.

It allows to let the implementation becomes

[2019-05-29 08:37] pedrobaeza commented on #197
@bealdav I'm not saying OCA tools have better quality. It's simply that we, OCA prepared, are not so prepared for handling Python libraries than Odoo modules, and I prefer to not needing to learn that being a residual part of my work.

Said that, if you want to go that way, you can do it, even under OCA umbrella, but I won't be able to provide you with the foundation from OCA for the CI tools and

[2019-05-29 08:42] bealdav commented on #197
I understand perfectly @pedrobaeza . You make so much for OCA, I don't want ask you more efforts on other topics. Thanks a lot

[2019-06-12 14:01] guewen commented on #197
+1 for a Python lib, it totally makes sense to me. Regarding QA that needed a lot for development for Odoo: it is also due to Odoo's nature and the fact it uses its own test toolchain. Everything already exists for testing Python libs.

[2019-06-12 14:12] bealdav commented on #197
Thanks for your answer @guewen , please could you give a word here

https://odoo-community.org/groups/contributors-15/contributors-136645?mode=thread&date_begin=&date_end=

Thanks

[2019-06-13 14:13] bealdav commented on #192
Please @angelmoya could you have a look to https://github.com/Timo17100-c2c/delivery-carrier/pull/1
I hope it can allow to use base_carrier_delivery_label for our both use
Thanks

[2019-08-15 07:32] eversatis opened #210 "delivery_multi_destination bugs"
I found two bugs for app delivery_multi_destination bugs in odoo 12.

1. If you add more than two multi destination shipping methods, the website will return 500 internal error on checkout page.

2. The Multi destination shipping methods with shipping rates do not show in the Delivery Method selection list on backend order. So you can not  quote the shipping rate from the multi destination shippin

[2019-08-15 10:39] pedrobaeza commented on #210
@frankmiao2015 please specify each of the issues you have found in a separate issue, with detailed steps to reproduce the problem. Provided info is not enough.

Any way, `delivery_multi_destination` is only for backend. There's no `website_delivery_multi_destination` for providing support to website, so first one might not qualify.

Closing this issue waiting for the other detailed 2.

[2019-08-15 10:39] #210 closed, assigned to nobody

[2019-08-21 07:03] rousseldenis commented on #197
@OCA/core-maintainers could we move forward here?

[2019-08-21 07:17] bealdav commented on #197
ping @hparfr

[2019-08-21 10:49] hparfr commented on #197
Fair enough

[2019-09-05 14:10] ValentinVinagre commented on #166
Hi @pedrobaeza ,

I'm planning to migrate "delivery_carrier_partner" to V12. Wasn't it included in "Migration to version 12.0" document for any special reason?

Thanks

[2019-09-05 14:11] pedrobaeza commented on #166
OK, do it. It's not here because it might not be present in previous branch when creating the branch.

[2019-09-23 08:14] jado95 opened #223 "12.0 always shipping cost added in sale"
If i set  'False' on setting parameters 'delivery_auto_refresh.auto_add_delivery_line' the delivery line is added but is not correct

[2019-09-23 08:18] rousseldenis commented on #223
@pedrobaeza @cubells

[2019-09-23 08:21] pedrobaeza commented on #223
Try to put `0`, not `False`.

[2019-09-23 09:54] jado95 commented on #223
So, with 0 is ok.
If i add manually the delivery with button 'Add to Order', on validation picking, the delivery will not add on Sale Order.
If i do not add manually delivery on sale order, on validation of picking the delivery is added on Sale Order.
Does Is Correct?

[2019-09-23 15:18] jgrandguillaume opened #224 "[RFC][WMS] Delivery round"
Source : https://docs.google.com/document/d/1mct6bFFWJqW01wGFcjc-uQNEjyCxvh6Y9TuFdRhe-b0/edit#
Part of: OCA/wms#1

**This RCF to propose a POC implementation for the following**

- Manage the delivery round and related cut-off time (both order taking and release of picking)

- Pilot the reservation of the goods when the release of operations within the warehouse are released (reservation occurs vi

[2019-09-29 21:32] OCA-git-bot opened #227 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] base_delivery_carrier_label - By @ps-tubtim - #251
- [ ] delivery_auto_refresh
- [ ] delivery_carrier_label_default
- [x] delivery_carrier_partner - By @acsonefho - #261
- [ ] delivery_dropoff_site - By @acsonefho - #281
- [x] delivery_free_fee_removal - By @guewen - #280
- [x] delivery_mult

[2019-10-21 21:22] svenms opened #232 "Error while installing Base Delivery Carrier label on Odoo 12"
You can see next error when trying to install the module:

Error while installing Base Delivery Carrier label on Odoo 12:

Traceback (most recent call last):
File "/usr/lib/python3/dist-packages/odoo/models.py", line 1108, in _validate_fields
check(self)
File "/usr/lib/python3/dist-packages/odoo/addons/base/models/ir_ui_view.py", line 351, in _check_xml
self.postprocess_and_fields(view.model, view

[2019-10-22 11:36] pedrobaeza commented on #232
You are not installing the module the correct way. You can't import the module, but add it to your addons path.

[2019-10-22 11:36] #232 closed, assigned to nobody

[2019-11-19 03:14] conroyke56 opened #234 "Odoo 12 Manifest - Error"
Im getting the below error when i try to view a manifest for any carrier in odoo 12.

Any ideas why or how to fix?

THANKS

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 314, i

[2019-11-19 08:56] pedrobaeza commented on #234
Sorry, but the error you are mentioning corresponds to a custom module or code, so the problem should be there in your code. This issue tracker is for notifying problems with standard OCA code, and thus I'm closing this.

Try to share your question, doubt or problem in the official Odoo forums (https://www.odoo.com/forum/help-1) or on the mailing lists (https://www.odoo.com/groups) to see if someo

[2019-11-19 09:02] conroyke56 commented on #234
Sorry, was this not for the carrier delivery label default?
This is when the issue has started.

[2019-11-19 09:05] pedrobaeza commented on #234
But you are developing an extra module, so the problem should be in that module you are developing.

[2019-11-19 09:39] conroyke56 commented on #234
No. Not at all. I just installed your modules onto Standard community version of Odoo 12. And this error comes up. There’s also another issue raised to do with manifest_wizard. I’m guessing maybe this is related. Even on clean install of odoo 12, same error.

[2019-11-19 10:22] conroyke56 commented on #234
Will you re-open?

[2019-11-19 10:30] pedrobaeza commented on #234
You are still not putting detailed steps to reproduce the problem, not even which modules are involved. Any way, you have to reproduce it on OCA runbot for qualifying for an issue.

[2019-11-19 10:36] conroyke56 commented on #234
Damn. Absolutely no idea how to do that.
Any way Incan get help?

[2019-11-19 10:37] pedrobaeza commented on #234
You have the button "Try me on runbot" on the README for trying that things, but how do you expect to get help with so little information?

[2019-11-19 10:44] conroyke56 commented on #234
I assume the error details Odoo provided may have the information Within it. But I guess not.

All I have done is create a multi company database.
Inventory app.
One parent company. Two child.

Added the default label module.

Created a delivery order from the child company.

Set the carrier
Marked the transfer as to do

Went to operations

Manifest

Set the carrier and date.

Continue.

And the a

[2019-11-19 10:48] conroyke56 commented on #234
Same error occurs on the runbot.

![F576475F-124C-46E9-8335-4D3CD586CB01](https://user-images.githubusercontent.com/33205454/69140268-48fdcc80-0b16-11ea-9e2e-03266b0c4979.png)
![Uploading 7B3500E9-F2D7-4BE6-8A17-4C68D963FB0B.png…]()

[2019-11-19 10:55] pedrobaeza commented on #234
Ok, now you have detailed enough the steps to reproduce the problem, so I reopen the issue.

[2019-11-19 10:56] conroyke56 commented on #234
Thanks. Hopefully someone can reproduce and find a solution.

Cheers.

[2019-11-28 19:43] sergio-teruel commented on #166
Please add partner_delivery_schedule module... asigned to me
PR: https://github.com/OCA/delivery-carrier/pull/236

[2020-01-03 14:59] saxomanu commented on #166
Hi ! is someone take delivery_dropoff_site ? if no, i take it

[2020-02-06 08:23] ps-tubtim commented on #227
Working on base_delivery_carrier_label https://github.com/OCA/delivery-carrier/pull/251

[2020-02-10 12:03] dhecar opened #252 "Same Delivery description on duplicated carriers"
Hello, i've duplicated the delivery method and changed the values for the prices, destinations, and description. All changed ok but the description is the same . If i change the description, it change in both methods thah had been duplicated one from another. Expected each method diferent description.

[2020-02-10 12:22] pedrobaeza commented on #252
Which module in this repository are you talking about?

[2020-04-07 10:51] sergiocorato opened #260 "Bug in delivery_auto_refresh"
https://github.com/OCA/delivery-carrier/commit/6a01ca619eb00825b3ba2a96655e8adb3c3fd1a7#r38339765

[2020-04-07 10:59] #260 closed, assigned to nobody

[2020-05-28 19:38] jgrandguillaume commented on #224
Closing this one to clean up the RFC, we're now in pilot phase

[2020-05-28 19:38] #224 closed, assigned to gurneyalex

[2020-08-12 11:58] rousseldenis opened #278 "Branches removal"
@yvaucher I see two branches on this repo where you push commits.

In order to clean, I will delete them as they should not appear on OCA side.

Ok for you ?

[2020-08-13 16:36] yvaucher commented on #278
you mean postlogistics-doc and gh-pages? no please don't remove them.

[2020-08-13 16:38] yvaucher commented on #278
Unless it was about 11.0-ocabot-merge-pr-155-by-yvaucher-bump-no nevertheless which I just removed.

The 2 other branches are there for documentation.

[2020-08-14 08:42] rousseldenis commented on #278
Yes, I've understood, but why not putting those docs somewhere (maybe wiki or ...) ?

[2020-08-14 18:50] yvaucher commented on #278
Till now, this is the way we provide extensive documentation for some OCA modules.

Other examples are OCA/geospatial and OCA/connector

The wiki was probably not existing at that time. But I don't know if it supports multi language.

EDIT: rewording

[2020-09-16 09:32] misern2 commented on #227
delivery_state #291 Ready to review

[2020-09-29 13:39] #78 closed, assigned to nobody

[2020-09-29 13:39] yvaucher commented on #78
Configuration has been added in settings in v12.

[2020-10-04 10:23] OCA-git-bot opened #297 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] delivery_auto_refresh - By @simahawk - #466
- [ ] delivery_carrier_default_tracking_url - By @xavier-bouquiaux - #386
- [x] delivery_carrier_deposit - By @florian-dacosta - #332
- [x] delivery_carrier_label_batch - By @khoivo1601 - #468
- [ ] delivery_carrier_label_default - By @sonhd91 - #4

[2020-10-20 08:32] guewen opened #306 "[13.0] delivery_free_fee_removal behavior not coherent with standard behavior"
The module `delivery_free_fee_removal` allows to ignore the creation of delivery lines when they have a zero amount.
I migrated it in 13.0 (#280) but overlooked changes in version 13.0 which bring new problems.

The delivery line becomes more important in 13.0 (probably to simplify the UI/UX):

* the carrier field is not shown, as the delivery line contains the delivery method's name
* the button

[2020-10-20 08:44] pedrobaeza commented on #306
Let me try and think options and come back to you.

[2020-10-21 11:10] guewen commented on #306
@pedrobaeza here's the proposal I mentioned: #307

[2020-10-23 06:04] #306 closed, assigned to nobody

[2020-10-27 09:55] victoralmau commented on #227
Working on `stock_picking_report_delivery_cost` https://github.com/OCA/delivery-carrier/pull/310

[2020-11-01 07:50] dzungtran89 commented on #227
Working on `delivery_carrier_label_postlogistics` #318

[2020-12-09 10:41] florian-dacosta opened #322 "14 base_delivery_carrier_label refactore"
Since Odoo has implemented some carrier label modules I think there are issues with the module base_delivery_carrier_label.
Indeed, when we install it, we have 2 buttons.
"Shipping Label" (`def action_generate_carrier_label`) implemented by `base_delivery_carrier_label`
"Send to Shipper" (`def send_to_shipper`) implemented by Odoo, but really usefull with carrier label enterprise modules.

I don't

[2020-12-09 11:03] hbrunn commented on #322
when I worked on this, the carriers I implemented created labels in the same request where you fetch the tracking number, so it was more convenient to implement https://github.com/OCA/delivery-carrier/blob/12.0/base_delivery_carrier_label/models/delivery_carrier.py#L28 (the oca way) for them. That's why I also added https://github.com/OCA/delivery-carrier/blob/12.0/base_delivery_carrier_label/mode

[2020-12-09 11:15] florian-dacosta commented on #322
About the pricing, it is just really weird to have a message saying you did ship some goods for 0 euros when it is totally untrue.
It is one more thing that would confuse the enduser a lot I think.

[2020-12-09 13:25] yvaucher commented on #322
@florian-dacosta There are similar intern discussion at camptocamp about refactoring the OCA modules (but for v13) to be more in line with Odoo core. I didn't had the chance to dive in the Odoo delivery modules yet in latest versions but I know this will raise the interest of @jgrandguillaume and @chroi

[2020-12-09 13:35] yvaucher commented on #322
@florian-dacosta one issue I see we could have is in case of pre-printing of shipping label. For one of our customer for returned merchandise they pre-print the labels for incoming pickings. Not sure if Odoo supports this in their enterprise modules.

My point is that we have to make sure a done picking is not a requirement to call the printing. But we could manage that with an other button with o

[2021-02-07 14:10] phuctranfxvn commented on #297
`delivery_carrier_pricelist` migrated in https://github.com/OCA/delivery-carrier/pull/334 (From https://github.com/OCA/delivery-carrier/pull/279)

[2021-02-25 08:13] sergiocorato opened #336 "[12.0] Field duplicated: number_of_packages"
If the modules `delivery_package_number` and `stock_picking_delivery_info_computation` are installed together, the field appears twice.
See:
https://github.com/OCA/delivery-carrier/blob/726d786c73a7b7a5dc0ad8d75eeb8871b22f4ab6/delivery_package_number/models/stock_picking.py#L9
https://github.com/OCA/delivery-carrier/blob/726d786c73a7b7a5dc0ad8d75eeb8871b22f4ab6/stock_picking_delivery_info_computat

[2021-02-25 12:36] dzungtran89 commented on #297
- delivery_package_fee: https://github.com/OCA/delivery-carrier/pull/337

[2021-04-29 16:07] BT-jmontero opened #365 "delivery-carrier: sudo() missing on retrieving postlogistics_client_id and postlogistics_client_secret"
https://github.com/OCA/delivery-carrier/blob/fc709c7013d9a657999fba3595f42ee9c7d3634d/delivery_postlogistics/postlogistics/web_service.py#L382

postlogistics_client_id and postlogistics_client_secret are both defined as fields.Char(..., groups="base.group_system"). Because of this, when retrieving such fields, sudo() must be used; otherwise, only admins can perform the operation.

**Suggestion:**

[2021-05-27 10:56] rousseldenis commented on #197
@bealdav @florian-dacosta @OCA/core-maintainers @hparfr What is the status of this ?

[2021-06-01 14:10] santostelmo opened #370 "13.0 delivery_postlogistics - generate postlogistic label failed with rollback"
In V13, we had an issue where the postlogistic label failed to be generated because of a malformated zip code (there was an extra space at the end).

There is rollback done when postlogistics has failed label results:
https://github.com/OCA/delivery-carrier/blob/4a66d8ed7207468e007b411ea28914dabe86784a/delivery_postlogistics/models/stock_picking.py#L214

Then in `write_tracking_number_label`, we g

[2021-06-01 15:43] jado95 commented on #297
delivery_multi_destination can be added in list?

[2021-06-04 12:18] jado95 commented on #297
delivery_multi_destination #373

[2021-06-08 17:17] hailangvn commented on #297
`delivery_postlogistics`: https://github.com/OCA/delivery-carrier/pull/377

[2021-08-03 10:42] victoralmau commented on #227
Working on `base_delivery_carrier_files` https://github.com/OCA/delivery-carrier/pull/400

[2021-08-19 16:08] delkano opened #407 "[14.0] [RunBot] Can't make Colissimo (delivery_roulier_laposte_fr) work"
I've tried to:

- get into your runbot ( http://3499001-14-0-257892.runbot2-2.odoo-community.org/ )
- go to the shop
-  add an item to the cart
-  set up a (fake) French address
-  hit "Process Checkout",
-  the delivery methods are correctly listed:

![image](https://user-images.githubusercontent.com/6650309/130103308-574ba5cc-076d-41a6-aa77-cc9f69b8d471.png)

- But then the fee estimation is sho

[2021-08-19 16:12] pedrobaeza commented on #407
I don't see "Colissimo" in the module list of this repo. Which module are you talking about?

[2021-08-19 16:13] delkano commented on #407
Oh sorry, yes. Colissimo belongs to "La Poste, it's the module delivery_roulier_laposte_fr

[2021-08-19 16:23] pedrobaeza commented on #407
OK, I let then the contributors of such module to answer, but a minimum credentials should put in any module of this nature.

[2021-08-23 07:47] delkano commented on #407
I see that the maintainer is @florian-dacosta

I will try to find a fix on my own, and if I find anything I'll post it here.

[2021-08-25 09:53] florian-dacosta commented on #407
Hello @delkano
I checked and it seem we have an incompatibility for now with the `website_sale_delivery` module.
Indeed, the module for la poste is made to generate carrier labels, but it does not get the price of the delivery. Laposte does not provide this or at least, it has not been implemented.

I'll make a PR to avoid the failure in that case and I'll check if the README has to be improved to

[2021-08-27 10:40] chienandalu commented on #336
Well, they don't exclude each other. In `stock_picking_delivery_info_computation` is added for convenience and has not much to do with the rest of the features while `delivery_package_number` is an specific module that revolves around that field. You're free to use either one or them both :wink:

[2021-08-27 10:50] sergiocorato commented on #336
Thanks

[2021-08-27 10:50] #336 closed, assigned to nobody

[2021-08-30 13:28] sonhd91 commented on #297
delivery_free_fee_removal:  [#411 ](https://github.com/OCA/delivery-carrier/pull/411)

[2021-09-14 04:37] sonhd91 commented on #297
server_environment_delivery: [#420 ](https://github.com/OCA/delivery-carrier/pull/420)

[2021-09-29 03:10] hiepnh97 commented on #297
I will migrate module `delivery_send_to_shipper_at_operation` : WIP

[2021-09-29 06:33] hailangvn commented on #297
* `delivery_postlogistics_server_env`: https://github.com/OCA/delivery-carrier/pull/422

[2021-10-11 02:43] kv1612 commented on #297
stock_picking_carrier_from_rule: [#425 ](https://github.com/OCA/delivery-carrier/pull/425)

[2021-10-17 10:15] OCA-git-bot opened #427 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] base_delivery_carrier_files - By @wytzejan - #667
- [ ] base_delivery_carrier_label - By @fshah-initos - #476
- [x] connector_routific - By @CarlosRoca13 - #544
- [x] delivery_auto_refresh - By @pilarvargas-tecnativa - #614
- [ ] delivery_automatic_package - By @nikolausweingartmair - #765
-

[2021-10-25 07:53] #85 closed, assigned to nobody

[2021-10-25 16:42] #94 closed, assigned to nobody

[2021-10-29 15:47] ValentinVinagre commented on #297
delivery_carrier_partner : https://github.com/OCA/delivery-carrier/pull/435

[2021-10-31 19:04] #108 closed, assigned to nobody

[2021-11-28 12:23] #55 closed, assigned to nobody

[2021-11-28 12:23] #60 closed, assigned to nobody

[2021-11-28 12:23] #71 closed, assigned to nobody

[2021-12-05 12:24] #101 closed, assigned to nobody

[2021-12-05 12:24] #106 closed, assigned to nobody

[2021-12-06 05:25] borisNG commented on #407
hi @florian-dacosta is delivery_roulier_laposte_fr any update on the plugin ? or do you have any clue on how to make it work ?  i'm really stuck on that and since there is no implementation for methods like rate_shipment or send_shipping.

[2021-12-06 05:26] borisNG commented on #407
@delkano do you found a solution to make it work properly ?

[2021-12-09 08:53] rousseldenis opened #444 "partner_delivery_zone: Zone auto attribution to partner depending on zip/city"
@sergio-teruel Did you have the same requirements or do you set partner zone manually ?

[2021-12-09 08:53] rousseldenis commented on #444
Maybe a new module on top of this

[2021-12-09 12:58] rousseldenis commented on #444
#446 solves this

[2021-12-09 12:58] #444 closed, assigned to nobody

[2021-12-12 12:24] #137 closed, assigned to max3903

[2021-12-12 12:24] #139 closed, assigned to nobody

[2021-12-13 07:10] #192 closed, assigned to nobody

[2021-12-19 12:25] #144 closed, assigned to nobody

[2021-12-22 04:03] kv1612 commented on #297
delivery_carrier_label_batch: [#452](https://github.com/OCA/delivery-carrier/pull/452)

[2021-12-29 08:07] sonhd91 commented on #297
`delivery_carrier_label_postlogistics_shop_logo` : WIP

[2021-12-30 13:10] delkano commented on #407
Sorry, I just downgraded to Odoo 13 in the end, since I was having trouble with several plugins

[2021-12-30 13:45] florian-dacosta commented on #407
Hello @borisNG
I use `delivery_roulier_laposte_fr` to generate carrier labels without problem.
The send_shipping method is actually implemented via the `delivery_roulier` module.
The rate feature is not part of the module though, only the label generation.

[2022-01-06 08:54] sonhd91 commented on #297
`delivery_carrier_label_default`: [#456 ](https://github.com/OCA/delivery-carrier/pull/456)

[2022-01-09 12:26] #157 closed, assigned to nobody

[2022-01-09 12:26] #166 closed, assigned to nobody

[2022-01-11 08:57] borisNG commented on #407
ah okay thanks @florian-dacosta

[2022-01-16 12:26] #197 closed, assigned to nobody

[2022-01-23 12:23] #223 closed, assigned to nobody

[2022-01-30 12:24] #234 closed, assigned to nobody

[2022-02-06 12:22] #252 closed, assigned to nobody

[2022-02-13 20:40] #322 closed, assigned to nobody

[2022-02-27 12:24] #278 closed, assigned to nobody

[2022-03-13 12:25] #227 closed, assigned to nobody

[2022-04-03 12:26] #365 closed, assigned to nobody

[2022-04-10 12:27] #370 closed, assigned to nobody

[2022-04-11 14:12] AshishHirapara commented on #297
delivery_price_rule_untaxed: https://github.com/OCA/delivery-carrier/pull/474

[2022-05-20 09:17] cramosh opened #487 "[14.0] Can't get producto price to add Correos delivery method in sale order ()"
## Module
delivery_correos_express

## Describe the bug

When you select the correos express shipping method in the sale order Add shippment wizard, the price of the shipment is always set to 0. The price should be the price of the product selected in the shipping method.

## To Reproduce
- Create a new shipping method selecting correos express
- Select the configured product for the shippment whi

[2022-05-31 15:27] flotho opened #490 "[13.0]base_delivery_carrier_label unit tests failed cause travis to fail on dependencies"
## Module

base_delivery_carrier_label

## Describe the bug

Unit tests are failing in travis for all module depending on this one : https://app.travis-ci.com/github/OCA/delivery-carrier/jobs/480295199
![image](https://user-images.githubusercontent.com/1043935/171210841-7519c850-c5c4-400c-8c00-2fd11929bdb3.png)

![image](https://user-images.githubusercontent.com/1043935/171210900-f96b7bf9-a2a7-41c

[2022-05-31 15:29] flotho commented on #490
ping @saxomanu @BechirAouji

[2022-06-01 15:19] flotho commented on #490
ping @florian-dacosta @sebastienbeau , looks like you're the latest contributor on the unit tests here
Any advice for us ?

[2022-06-13 08:28] hildickethan commented on #487
It applies the correct price if you press the "Get rate" button next to the price after selecting the carrier

This is a common "issue" throughout all carriers that aren't "Fixed" or "based on rules".
Since it expects the carrier to rate the shipment through webservice, it won't put a request like this in an "onchange", so it sets it to 0 and requires a manual button press.

Alternatively, if you

[2022-06-13 08:29] #487 closed, assigned to nobody

[2022-06-16 14:27] BechirAouji commented on #297
delivery_dropoff_site: #491

[2022-06-16 14:36] rousseldenis commented on #297
@BechirAouji Already there :smiley:

[2022-07-22 03:40] thorneindustries opened #513 "[14.0]delivery_free_fee_removal doesnt work if sale order is locked"
## Module
delivery_free_fee_removal

## Describe the bug

If setting     group_auto_done_setting is true, sale orders are locked after action_confirm.

This line
[code]
in sale_order.py should probably be

[code]

## To Reproduce

Steps to reproduce the behavior:
1. Enable locking sale from settings after completion
2. Create a sales order with a delivery
3.

[2022-07-22 09:04] hildickethan opened #514 "Schenker TLS V1.2"
I have this email from DB Schenker relating to the TLS version

[code]

From what I could find `zeep` uses V1.2+ by default, so I don't think there needs to be a change, but I want to confirm with @chienandalu , I assume one of your clients will also have received something like this

If everything is ok then feel free to close the issue

[2022-07-22 09:45] chienandalu commented on #514
If understood well, it should be no issue.

[2022-07-22 10:23] hildickethan commented on #514
Ok I thought so, I will leave it as is and we will see when the change rolls around if anything happens
Thanks

[2022-07-22 10:23] #514 closed, assigned to nobody

[2022-07-22 12:30] pedrobaeza commented on #513
Yes, good point. Can you do the pull request changing that?

[2022-08-14 12:30] #407 closed, assigned to nobody

[2022-08-25 16:28] rizzel opened #527 "Migrating delivery_carrier_multi_zip to 14.0"
**Is your feature request related to a problem?**

No

**Describe the solution you'd like**

The module to also be available on the `14.0` branch in addition to the `13.0` branch.

**Describe alternatives you've considered**

None

**Additional context**

It is a small module and we use it in our installation on Odoo 14 from the `13.0` branch for now. Can I help somehow to get it also on the `14.0

[2022-08-25 17:02] pedrobaeza commented on #527
You can fo the pull request following the migration guide:

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0.

[2022-08-26 15:36] rizzel commented on #527
I created a pull request  #528 so this can probably be closed.

Thank you.

[2022-08-26 16:06] #527 closed, assigned to nobody

[2022-09-28 15:02] flachica commented on #427
`stock_picking_delivery_link`  #532

[2022-10-03 16:21] sbidoul opened #534 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [ ] base_delivery_carrier_label - By @florian-dacosta - #570
- [x] carrier_account_environment - By @florian-dacosta - #616
- [x] delivery_auto_refresh - By @RabbitJon-S73 - #651
- [x] delivery_carrier_agency - By @florian-dacosta - #571
- [ ] delivery_carrier_default_tracking_url - By @gaelTorr

[2022-10-11 12:53] florian-dacosta opened #537 "Split base_delivery_carrier_label"
Hello,
`base_delivery_carrier_label` is not used as a dependency for all oca carrier module. I think it is a shame not to have some consistency between oca modules on this matter, because that becomes a problem when using multiple carriers that works differently (not user friendly + harder to override in case of custom behavior).

The most important example, IMHO, is the `carrier.account` model.
I

[2022-11-04 16:55] pere-aquarian commented on #427
delivery_carrier_multi_zip module is missing. Could you please add it and I will try to migrate it?

Thank you!

[2022-11-04 16:59] pedrobaeza commented on #427
@pere-aquarian please add the PR with the migration, and we launch the bot command to include it here.